# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Intellij21-22\Oblig3-DATE1400\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
